body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #efefe5;
}

.stopwatch {
    text-align: center;
}

.stopwatch-timer {
    font-size: 5rem;
    font-weight: 100;
    line-height: 10rem;

    margin: 0;

    border: solid #cecfd8;
    border-width: 1px 0;
    background-color: white;  
}

#btn {
    font-family: inherit;
    font-size: 1.25rem;

    display: inline-block;

    width: 5rem;
    height: 5rem;
    margin: 1.5rem;
    padding: 0;

    cursor: pointer;
    letter-spacing: 1px;

    border: 0;
    border-radius: 50%;
    outline: none;
    background: white;
}

#start-btn { 
    color: #4bd761; 
}
#stop-btn { color: #fd3d2a }