#user-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

#button {
    padding: 0.5rem;
    color: beige;
    background-color: #8eba43;
    margin-top: 1rem;
    margin-bottom: 2rem;
}