.modal {
    top: 50%;
    left: 50%;
    /* transition: translate(-47%, -47%); */
    width: 400px;
    padding: 2rem;
    outline: none;
    position: absolute;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
    align-items: center;
    justify-content: center;
}

#simple-modal-description{
    font-weight: bold;
}