#appbar, #ssss{
    width: 100%;   
    justify-content: center;
    align-items: center;
}

#bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-btn {
    justify-content: left;
    position: absolute;
    left: 25px;
}

#signup-login { 
    position: absolute;
    right: 25px;
}

#signup-login-btn { 
}

